table.table tbody td, table.table tbody th {
  height: 37px;
}
table.table thead tr {
  height: 37px;
}
table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child) {
  padding: 0 10px;
}
td {
  white-space: nowrap;
}